.p-informacion-texto{
    text-align: justify;
}

.name-cita-pc-informacion{
    color: white;
    font-size: 1.5vw;
    padding-top: 0vw;
    padding-bottom: 0vw;
}

@media (min-width:1024px) {
    .div-saludos-bienvenido-pc{
        color: white;
        font-size: 1.5vw;
        text-align: justify;
        padding-left: 5vw;
        padding-right: 5vw;
        padding-top: 3vw;
    }
}

@media (min-width: 1420px) {
    .div-saludos-bienvenido-pc{
        color: white;
        font-size: 1.2vw;
        line-height: 3vw;
        text-align: justify;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 2.5vw;

    }
  }