/* Fuente PoppinsBold */
@font-face {
    font-family: "PoppinsBold";
    src: url("/font/PoppinsBold.ttf");
}

/* Estilo de la fila de citas en PC */
.row-mis-citas-pc {
    display: flex;
    gap: 1vw;
    justify-content: center;
    padding-bottom: 2vw;
    padding-top: 2vw;
}

/* Estilo de la tarjeta de cita en PC */
.card-cita-pc {
    width: 27%;
    font-size: 1vw;
    text-align: justify;
    background-color: #D9D9D9;
    border-radius: 0.1vw;
}

/* Estilo de la imagen de la cita en PC */
.card-img-cita-pc {
    width: 18vw;
    height: 15vw;
    border-radius: 0.1vw;
}

/* Estilo de la paginación de citas en PC */
.pagination-citas-pc {
    padding-bottom: 1vw;
}

/* Estilo del contenedor del botón eliminar en PC */
.div-boton-eliminar-pc {
    display: flex;
    justify-content: center;
    padding-bottom: 1vw;
}

/* Botones Arriba de la Carta */
.div-estado-cita-pc {
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}

/* Estilo de los estados de las citas en PC */
.estado-proceso-pc,
.estado-aceptada-pc,
.estado-rechazada-pc,
.estado-realizada-pc {
    margin-bottom: 0vw;
    padding: 0.3vw 0.2vw;
    width: 40%;
    text-align: center;
    border-radius: 2vw;
    color: white;
}

/* Estilo del cuerpo de la tarjeta de citas en PC */
.card-body-citas-pc {
    padding-bottom: 0vw;
}

/* Estilo de estado aceptada en PC */
.estado-aceptada-pc {
    background-color: #045525;
}

/* Estilo de estado en proceso en PC */
.estado-proceso-pc {
    background-color: #263238;
}

/* Estilo de estado rechazada en PC */
.estado-rechazada-pc {
    background-color: #C44949;
}

/* Estilo de estado realizada en PC */
.estado-realizada-pc {
    background-color: #1B1B1B;
}

/* Estilos de texto en la tarjeta de cita en PC */
.card-nombre-cita-pc,
.card-precio-cita-pc,
.card-fecha-cita-pc {
    font-family: "PoppinsBold";
}

.card-nombre-cita-pc,
.card-precio-cita-pc,
.card-descripcion-cita-pc,
.card-fecha-cita-pc {
    margin-bottom: 0vw;
    line-height: 2vw;
}

/* Estilo del botón eliminar en PC */
.boton-eliminar-cita-pc {
    border: none;
    padding: 0.2vw 3vw;
    border-radius: 2vw;
}

/* Estilo del botón eliminar para cita realizada en PC */
.boton-eliminar-realizada-cita-pc {
    background-color: #1B1B1B;
    color: white;
}

/* Estilo del botón eliminar para cita rechazada en PC */
.boton-eliminar-rechazada-cita-pc {
    background-color: #C44949;
    color: white;
}

.boton-eliminar-cita-pc:not([disabled]):hover{
    background-color: #263238;
    color: white;
    transition: background-color 1s ;
}
    
@media (min-width:1024px) {
/* Carta Barbero PC - Gestionar */
.card-cita-barbero-pc{
    width: 29%;
    height:34vw;
}

.card-img-cita-barbero-pc{
    width: 100%;
    height: 18vw;
}

.card-body-citas-barbero-pc{
    line-height: 1.2vw;
    padding: 0vw;
}

.card-body-citas-barbero-pc p{
    margin-bottom: 0vw;
    text-align: justify;
    padding-top: 0.5vw;
    font-size: 1.1vw;
}

.estado-proceso-barbero-pc{
width: 50%;
background-color: #263238;
color: white;
padding: 0.4vw;
border-radius: 2vw;
text-align: center;
margin-bottom: 1vw;
margin-top: 1vw;
font-size: 1.1vw;

}

.card-nombre-cita-barbero-pc,.card-precio-cita-barbero-pc{
    font-family: "PoppinsBold";
}

.select-cita-barbero-pc{
    width: 100%;
    padding: 0.5vw;
    background-color: #1B1B1B;
    color: white;
    border-radius: none;
    margin-top: 1vw;
    font-size: 1.1vw;
}

.div-select-button-cita-barbero-pc{
    margin-bottom: 5vw; 
    font-size: 1.1vw;

}

.boton-aceptar-cita-barbero-pc{
   border: none;
   width: 60%;
   background-color: #263238;
   color: white;
   padding: 0.3vw 0vw;
   border-radius: 5vw;
   margin-top: 1vw;
}

.div-boton-aceptar-cita-barbero-pc{
   display: flex;
  justify-content: center;
}

}

@media (min-width:1420px) {
   
    .card-cita-barbero-pc{
        width: 29%;
        height:34.5vw;
    }

    .card-body-citas-barbero-pc{
        line-height: 1.2vw;
        font-size: 1vw;
        padding: 0vw;
    }

}