@font-face {
  font-family: "PoppinsBold";
  src: url("/font/PoppinsBold.ttf");
}

.modal-title-actualizar-admin {
  font-family: "PoppinsBold";
}

.p-mensaje-modal-actualizar-admin {
  text-align: justify;
}

.p-modal-actualizar-admin {
  margin-bottom: 0vw;
  text-decoration: underline;
  text-decoration-color: #263238;
}

.inputs-modal-actualizar-admin {
  border: none;
  border: 0.1vw solid white;
  background-color: #263238;
  color: white;
  border-radius: 0.7vw;
  width: 100%;
  padding: 1.7vw 1.5vw;
}

.inputs-modal-actualizar-admin::placeholder {
  color: rgba(255, 255, 255, 0.541);
}

.div-modal-actualizar-admin {
  padding-bottom: 2vw;
}

.btn-modal-cancelar-admin {
  border: none;
  background-color: #c44949;
  color: white;
  padding: 1vw 2vw;
  border-radius: 1vw;
}

.btn-modal-guardar-admin {
  border: none;
  background-color: #045525;
  color: white;
  padding: 1vw 2vw;
  border-radius: 1vw;
}

.mensaje-actualizacion {
  text-align: center;
}

@media (min-width: 1024px) {
  .inputs-modal-actualizar-admin {
    border-radius: 0.2vw;
    padding: 0.5vw 0.5vw;
  }

  .div-modal-actualizar-admin {
    padding-bottom: 0.2vw;
  }

  .btn-modal-cancelar-admin {
    padding: 0.2vw 2vw;
    border-radius: 0.2vw;
  }

  .btn-modal-guardar-admin {
    padding: 0.2vw 1vw;
    border-radius: 0.2vw;
  }

  .modal-backdrop {
    position: unset;
  }

  .modal-backdrop.show {
    opacity: unset;
  }
  
}