.navbar {
  background-color: #1b1b1b;
}

.buttonAdminNavbar {
  border: none;
  background-color: #d9d9d9;
  color: #1b1b1b;
  width: 100%;
  border-radius: 5vw;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1vw;
  padding-left: 1.5vw;
}

.nav-link {
  color: white;
}

@media (min-width: 1024px) {
  .buttonAdminNavbar {
    width: min-content;
    padding: 0.3vw 1.5vw;
    border-radius: 5vw;
    gap: 0.5vw;
  }

  .navbar-brand {
    border-right: 0.1vw solid #d9d9d9;
    padding-right: 1vw;
  }

  .buttonAdminNavbar:hover {
    background-color: #045525;
    transition: background-color 1s;
    color: white;
  }

  .planes-link {
    background-color: #045525;
    border-radius: 5vw;
    width: 100%;
  }
}
