.row-mis-citas-pc {
  display: flex;
  justify-content: center;
  gap: 1vw;
}

.pagination-pc {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1vw;
  color: white;
  padding-bottom: 0vw;
  padding-top: 2vw;
}

.page-link-paginacion-pc {
  border: none;
  padding: 0.2vw 0.7vw;
  border-radius: 2vw;
  background-color: transparent;
  color: white;
}

.page-link-paginacion-pc.disabled,
.page-link-paginacion-pc:disabled {
  border: none;
  cursor: not-allowed;
}

.page-link-paginacion-pc.active {
  background-color: rgba(255, 255, 255, 0.178);
  cursor: default;
}

.p-mensaje-carga-paginacion {
  color: white;
  text-align: center;
}

.mensaje-corte-pc{
  text-align: center;
}

@media (min-width: 1024px) {
  /* Paginacion Card - Barberos */
  .section-principal-paginacion-barbero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    padding-bottom: 2vw;
  }

  .col-paginacion-barbero {
    background-color: #d9d9d9;
    padding: 0.4vw;
    border-radius: 0.2vw;
    width: 25%;
    height: 32.2vw;
  }

  .img-paginacion-barbero {
    height: 18vw;
    border-radius: 0.2vw;
  }

  .card-body-paginacion-barbero {
    font-size: 1vw;
    padding-top: 0.6vw;
  }

  .card-body-paginacion-barbero p {
    margin-bottom: 0vw;
    line-height: 1.8vw;
  }

  .card-text-datos-personales-paginacion-barbero {
    text-align: center;
    padding-bottom: 0.4vw;
  }

  .div-detalles-paginacion {
    text-align: center;
    padding-top: 0.7vw;
  }

  .button-detalles-paginacion {
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
    width: 50%;
    background-color: #263238;
    color: white;
    text-decoration: none;
    border-radius: 5vw;
    font-size: 0.9vw;
  }

  .button-detalles-paginacion:hover{
    background-color: #1B1B1B;
    transition: background-color 1s;
  }

  .col-paginacion-cortes {
    height: 30vw;
  }

  .div-button-eliminar-estilo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1vw;
  }

  .button-eliminar-estilo {
    border: unset;
    background-color: #c44949;
    color: white;
    width: 55%;
    border-radius: 5vw;
  }

  .button-eliminar-estilo:hover {
    background-color: #1B1B1B;
    transition: background-color 1s;
  }

  .div-delete-cliente-pc,.div-delete-barbero-pc{
    display: flex;
    justify-content: right;
    padding-bottom: 0.3vw;
  }

  .button-delete-cliente-pc,.button-delete-barbero-pc{
    background-color: unset;
    border: unset;
  }

  .icon-delete-cliente-pc,.icon-delete-barbero-pc{
    color: #c44949;
    font-size: 1.5vw;
  }

  .icon-delete-cliente-pc:hover,.icon-delete-barbero-pc:hover{
    color: #1B1B1B;
    transition: color 1s;
    
  }

  .col-paginacion-barbero {
    min-height: fit-content;
  }

  .mensaje-cliente{
    text-align: center;
    font-size: 1vw;
  }

  .p-mensaje-carga-paginacion {
   margin-bottom: 0vw;
   margin-top: 0vw;
  }
}

@media (min-width:1420px) {

  .section-principal-paginacion-barbero {
    padding-bottom: 1vw;
  }


  .col-paginacion-barbero {
    height: 31.8vw;
    min-height: fit-content;
  }

  .col-paginacion-cortes {
    height: 30vw;
  }
}